/stow/tmux/.config/tmux/plugins/tmux-sensible/
/stow/tmux/.config/tmux/plugins/tmux-resurrect/
/stow/tmux/.config/tmux/plugins/tmux-pain-control/
/stow/tmux/.config/tmux/plugins/tmux-jump/
/stow/tmux/.config/tmux/plugins/tmux-fzf-url/
/stow/tmux/.config/tmux/plugins/tmux-continuum/
/stow/vale/styles/
