[Desktop Entry]
Name=irskeys
Comment=IRC Keys
Exec=/home/diego/.xinitrc
Icon=sun-jcontrol-jdk8.png
Terminal=false
Type=Application
Categories=Application
