[merge]
	conflictstyle = diff3
	tool = diffmerge
[diff]
	tool = diffmerge
	compactionHeuristic = true
	algorithm = patience

[core]
	excludesfile = ~/.gitignore_global
	commentchar = @
	ignorecase = false
[commit]
	gpgsign = true

[help]
	autocorrect = 1
[alias]
	pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"

	# Delete all local branches but master and the current one, only if they are fully merged with master.
	# https://stackoverflow.com/a/41465769
	branches-delete-except-master = !"f() { git branch | grep -v 'master' | grep -v ^* | xargs git branch -d; }; f"

## needs a ending `/`
[includeIf "gitdir:~/src/"]
	path = .gitconfig-work
[includeIf "gitdir:~/dotfiles/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/dotfiles-private/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/code/"]
	path = .gitconfig-personal
[push]
	default = simple
[github]
	user = d1egoaz
[credential]
	helper = osxkeychain
[protocol]
	version = 2
[gpg]
	program = /usr/local/bin/gpg2
