[merge]
  conflictstyle = diff3
  tool = diffmerge
[diff]
  tool = diffmerge
  compactionHeuristic = true
	algorithm = patience

[core]
  excludesfile = ~/.gitignore_global
  commentchar = @
  ignorecase = false
[commit]
  gpgsign = false

[help]
  autocorrect = 1
[alias]
  pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"

  # Delete all local branches but master and the current one, only if they are fully merged with master.
  # https://stackoverflow.com/a/41465769
  branches-delete-except-master = !"f() { git branch | grep -v 'master' | grep -v ^* | xargs git branch -d; }; f"

# [includeIf "gitdir:~/src/"]
  # path = .gitconfig-work
[includeIf "gitdir:~/"]
  path = .gitconfig-personal
# [includeIf "gitdir:~/dev/personal/"]
#   path = .gitconfig-personal
[magit]
  hideCampaign = true
[push]
  default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = d1egoaz
